:root {
     --bg-color: rgb(200, 222, 241);
     --second--bg-color: white;
     --text-color: grey;
     --heading-color: black;
     --main-color: blue;
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     background-color: var(--bg-color);
     color: var(--text-color);
}

section {
     padding: 10rem 9% 2rem;
     min-height: 100vh;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 2rem 9%;
     background-color: var(--bg-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
}

.header.sticky {
     border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
     font-size: 2.5rem;
     color: var(--main-color);
     font-weight: 600;
     font-family: cursive;
     cursor: default;
}

.navbar a {
     font-size: 1.7rem;
     font-family: monospace;
     margin-left: 4rem;
     transition: .3s;

}

.link a {
     text-decoration: underline;
     color: var(--text-color);
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#menu-icon {
     font-size: 3.5rem;
     color: var(--text-color);
     display: none;
}


.btns {
     display: flex;
     justify-content: center;
}

.link a:hover,
.link a.active {
     color: var(--main-color);
}

.login-btn {
     background-color: var(--bg-color);
     color: var(--text-color);
}

.signin-btn {
     background-color: var(--main-color);
     color: var(--bg-color);
}

.login-btn,
.signin-btn {
     padding: 1.4rem 1rem;
     border: none;
     outline: none;
     border-radius: 1rem;
     font-size: 0.8rem;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: scale 0.2 ease;
}

.login-btn:hover {
     color: var(--second--bg-color);
}

.signin-btn:hover {
     color: var(--second--bg-color);
}

.login-btn:active,
.signin-btn:active {
     scale: 0.95;
}

.home {
     display: flex;
     align-items: end;
     justify-content: center;
     min-height: 100vh;
}

.home-img img {
     width: 45vw;
     animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
     0% {
          transform: translateY(0);
     }

     50% {
          transform: translateY(-3rem);
     }

     100% {
          transform: translateY(0);
     }
}

span {
     color: var(--main-color);
     font-weight: 600;
}

.home-content h3 {
     color: var(--heading-color);
     font-size: 4.7rem;
     font-weight: 700;
     font-family: monospace;
     line-height: 1.3;
}

.home-content p {
     font-size: 1.6rem;
     color: var(--text-color);
     font-family: monospace;
}

.btncontainer {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
}

.btn {
     margin-top: 1rem;
     display: inline-block;
     padding: 2rem 2rem;
     border-radius: 1rem;
     font-size: 1.6rem;
     letter-spacing: .1rem;
     font-weight: 400;
     transition: .2s ease;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     font-family: monospace;
     box-shadow: 0.1vh 1.1vh 2.1vh -0.9vh rgba(0, 0, 0, .8);
}

.btn img {
     padding-left: .5rem;
     height: 1rem;
}

.bookbtn {
     background-color: var(--main-color);
     color: var(--second--bg-color);
}

.getappbtn {
     background-color: var(--second--bg-color);
     color: var(--main-color);
}

.btn:hover {
     box-shadow: 0 0 1rem var(--text-color);
}

.profilelinks {
     margin-top: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     flex-wrap: wrap;
}

.profile {
     width: 60px;
     cursor: pointer;
     border-radius: 5rem;
}

.profile:hover {
     transform: scale(105%);
}

.profile:nth-of-type(2) {
     margin-left: -4rem;
}

.profile:nth-of-type(3) {
     margin-left: -4rem;
}

.users img {
     height: 2rem;
}

.star {
     height: 1.8rem;
}

.profile img {
     width: inherit;
}

.profile-insights {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
}

.profilelinks .users,
.profilelinks .professional {
     border-bottom: 1px solid rgba(0, 0, 0, .1);
     border-top: 1px solid rgba(0, 0, 0, .1);
}

.about {
     background-color: var(--second--bg-color);
     padding: 10rem 9% 2rem;
}

.about h3,
.doctor-consultant h3 {
     font-size: 4.3rem;
     text-align: center;
     color: var(--heading-color);
     font-family: 'Times New Roman';
     padding-bottom: 1.5rem;
}

.about p {
     font-size: 1.4rem;
     text-align: center;
     font-weight: bold;
}

.about-down {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 4rem 0;
     gap: 2rem;
}

.about-main {
     display: flex;
     background-color: var(--bg-color);
     border-radius: 3rem;
}

.about-main-content,
.doctor-consultant-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 2rem 2rem 2rem 2rem;
}

.about-main-content h3 img {
     height: 3.5rem;
}

.about-main-content h3,
.doctor-consultant-content h3,
.services h3,
.find-doctor h3 {
     text-align: left;
     font-size: 4rem;
     color: var(--heading-color);
}

.about-main-content p,
.doctor-consultant-content p,
.services p,
.find-doctor p {
     text-align: left;
     font-weight: 600;
     font-size: 1.5rem;
}

.about-main-content ul,
.doctor-consultant-content ul {
     padding: 1rem 0;
     list-style-type: none;
     font-size: 1.7rem;
     color: var(--heading-color);
     font-weight: 500;
}

.about-main-content ul li img,
.doctor-consultant-content ul li img {
     height: 3rem;
}

.about-main-content ul li,
.doctor-consultant-content ul li {
     display: flex;
     align-items: center;
     gap: 2rem;
     padding: .5rem 0;
}

.learnbtn,
.bookconsultant {
     background-color: var(--main-color);
     color: var(--second--bg-color);
     width: fit-content;
}

.about-main-img,
.doctor-consultant-img {
     display: flex;
     align-items: center;
     justify-content: center;
}

.about-main-img img,
.doctor-consultant-img img {
     width: 40vw;
}

.doctor-consultant {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--second--bg-color);
}

.services p {
     margin-bottom: 4rem;
}

.services-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     justify-content: center;
     gap: 2.5rem;
}

.services-box {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--second--bg-color);
     padding: 3rem;
     border-radius: 3rem;
     transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.services-box:hover {
     transform: scale(1.05);
     cursor: pointer;
}

.services-box h3 {
     font-size: 2.3rem;
     margin-bottom: 10px;
}

.services-box p {
     text-align: center;
}

.services-box img {
     width: 100px;
     margin-bottom: 20px;
     box-shadow: 0px 10px 20px 1px var(--bg-color);
}

.find-doctor {
     background-color: var(--second--bg-color);
}

.find-doctor form {
     background-color: rgb(242, 243, 243);
     border-radius: 2rem;
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 0 1rem;
}

.find-doctor form input:nth-child(1),
.find-doctor form input:nth-child(2),
.find-doctor form input:nth-child(3) {
     background-color: rgb(242, 243, 243);
     color: var(--main-color);
     text-align: center;
     font-size: 1.5rem;
     font-weight: 600;
}

.find-doctor form input:nth-child(2),
.find-doctor form input:nth-child(3) {
     border-left: 2px solid var(--main-color);
}

.search-btn {
     background-color: var(--main-color);
     color: var(--second--bg-color);
     margin: 0.5rem 0;
}

.doctor-box {
     background-color: rgb(242, 243, 243);
     border-radius: 1rem;
     transition: .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
     margin: 1rem;
}

.doctor-box:hover {
     transform: scale(1.05);
     cursor: pointer;
}

.doctor-box-img img {
     width: 100%;
     height: 60%;
     border-radius: inherit;
}

.doctor-box-content {
     padding: .5rem 1rem .5rem;
}

.doctor-box-content div {
     display: flex;
     justify-content: space-between;
}

.doctor-box-content div p {
     display: flex;
     font-size: 1.3rem;
     font-weight: 400;
}

.doctor-box-content h3 {
     font-size: 2.5rem;
}

.doctor-box-content .view-btn {
     border: 1px solid rgb(108, 108, 248);
     color: rgb(108, 108, 248);
     background-color: rgb(242, 243, 243);
     cursor: pointer;
     border-radius: .5rem;
     padding: 0.1rem 1rem;
     transition: .1s ease-in;
}

.doctor-box-content .view-btn:hover {
     background-color: rgb(108, 108, 248);
     color: rgb(242, 243, 243);
}

.getapp {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: var(--second--bg-color);
}

.getapp-content h3 {
     font-family: 'Times New Roman';
     font-size: 4.4rem;
     color: var(--heading-color);
}

.getapp-content ul {
     list-style-type: disc;
     padding: 1.8rem;
}

.getapp-content li,
.getapp-content p {
     font-weight: bolder;
     font-size: 1.3rem;
}

#appstorebtn {
     display: flex;
     justify-content: center;
     gap: 1rem;
     align-items: center;
     background-color: var(--heading-color);
     color: var(--second--bg-color);
     font-family: monospace;
     font-weight: 400;
     /* max-width: 40%; */
     text-align: center;
     font-size: 1rem;
}

#playstorebtn {
     display: flex;
     justify-content: center;
     gap: 1rem;
     align-items: center;
     background-color: rgb(242, 243, 243);
     color: var(--heading-color);
     /* max-width: 40%; */
     text-align: center;
}

#appstorebtn img,
#playstorebtn img {
     height: 3rem;
}

#appstorebtn p,
#playstorebtn p {
     font-size: 1rem;
     font-weight: 500;
     font-family: monospace;
}

.getapp-img img {
     width: 40vw;
}

footer {
     padding: 2rem 9% 2rem;
}

.footerup {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     gap: 2rem;
}

.footerup form {
     display: flex;
     align-items: center;
     gap: 1rem;
}

.footerup p,
.footerdown p {
     font-size: 1.3rem;
     font-weight: 600;
}

.footerup .quicklinks a {
     display: block;
     font-size: 1.3rem;
     font-weight: 600;
     color: var(--text-color);
     padding: .2rem 0;
}

.footerup .quicklinks a:hover {
     color: var(--main-color);
}

.footerup h3 {
     font-size: 1.5rem;
     color: var(--heading-color);
}

.footerup form input:nth-child(1) {
     height: 5rem;
     text-align: center;
     border-radius: 1rem;
     width: 70%;
}

.subscribebtn {
     color: var(--second--bg-color);
     background-color: var(--main-color);
     padding: 1.5rem 1rem;
     margin: 0;
     cursor: pointer;
}

.footerdown {
     display: flex;
     justify-content: center;
     align-items: center;
     border-top: 1px solid var(--text-color);
     margin-top: 1rem;
     padding: 1rem;
}

.link-img img {
     width: 40px;
     transition: .1s ease;
}

.link-img img:hover {
     transform: scale(1.1);
}

.link-img {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
}

@media (max-width: 1200px) {
     html {
          font-size: 50%;
     }
}

@media (max-width: 991px) {
     .header {
          padding: 2rem 3%;
     }

     section {
          padding: 5rem 3% 2rem;
     }

     .services {
          padding-bottom: 7rem;
     }

     .find-doctor {
          padding-bottom: 7rem;
     }

     .getapp {
          padding-bottom: 7rem;
     }

     .footer {
          padding: 2rem 3%;
     }
}

@media (max-width: 870px) {
     #menu-icon {
          display: block;
     }

     .navbar {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          padding: 1rem 3%;
          background: var(--bg-color);
          border-top: .1rem solid rgba(0, 0, 0, .2);
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
          display: none;
     }

     .navbar.active {
          display: block;
     }

     .navbar a {
          display: block;
          font-size: 2rem;
          margin: 3rem 0;
     }

     .btns {
          display: block;
     }

     .login-btn,
     .signin-btn {
          text-align: center;
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
     }

     .home {
          flex-direction: column-reverse;
          align-items: center;
     }

     .btncontainer {
          margin-top: 3rem;
     }

     .home-content h3 {
          font-size: 2.6rem;
     }

     .home-img img {
          width: 70vw;
          margin-top: 4rem;
     }

     .about-main {
          flex-direction: column;
     }

     .doctor-consultant {
          flex-direction: column-reverse;
     }

     .getapp {
          flex-direction: column;
          gap: 3rem;
     }

     .about-main-img img,
     .doctor-consultant-img img {
          width: 50vw;
          margin: 4rem 0;
     }

     .services h2 {
          margin-bottom: 3rem;
     }

     .find-doctor h2 {
          margin-bottom: 3rem;
     }

     .services-container {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media (max-width: 710px) {
     .btncontainer {
          justify-content: space-between;
     }

     .footerup {
          flex-direction: column;
          text-align: center;
     }
     .footerup form {
          margin: 2rem 1rem;
     }
}

@media (max-width:617px) {
     .services-container {
          grid-template-columns: 1fr;
          justify-content: center;
          align-items: center;
     }

     .services {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .services-box {
          max-width: 300px;
          max-height: 300px;
     }

     .about-down {
          flex-wrap: wrap;
          justify-content: center;
     }

     .find-doctor form {
          flex-direction: column;
          align-items: normal;
     }

     .find-doctor form input:nth-child(1),
     .find-doctor form input:nth-child(2),
     .find-doctor form input:nth-child(3) {
          border: none;
          height: 5rem;
     }

     .find-doctor form input:nth-child(1),
     .find-doctor form input:nth-child(2) {
          border-bottom: 1px solid var(--main-color);
     }

     .search-btn {
          margin-bottom: 1rem;
     }
}

@media (max-width:450px) {
     html {
          font-size: 45%;
     }

     .about-main-content,
     .doctor-consultant-content {
          padding: 2rem 1rem;
     }

     .footer h3 {
          text-align: center;
          padding: 0;
     }
}

@media (max-width:380px) {
     .home-img img {
          width: 85vw;
     }

     .btncontainer {
          margin-top: 1rem;
          justify-content: space-evenly;
     }

     .btncontainer a {
          font-size: 1.2rem;
     }

     .getapp .btncontainer {
          flex-direction: column;
     }

     #appstorebtn,
     #playstorebtn {
          width: 60vw;
     }

     .getapp-img img {
          width: 85vw;
     }

     .doctor-consultant-img img {
          width: 85vw;
     }

     .footer {
          flex-direction: column-reverse;
     }

     .footer p {
          text-align: center;
          /* margin-top: 2rem; */
     }
}