:root {
     --bg-color: rgb(200, 222, 241);
     --second--bg-color: white;
     --text-color: grey;
     --heading-color: black;
     --main-color: blue;
}

html {
     font-size: 62.5%;
     overflow-x: hidden;
}

body {
     background-color: var(--bg-color);
     color: var(--text-color);
}

section {
     min-height: 100vh;
     padding: 10rem 9% 2rem;
}

.header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 2rem 9%;
     background-color: var(--bg-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     border-bottom: 1px solid  rgba(0, 0, 0, .1);
}

.header.sticky {
     border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
     font-size: 2.5rem;
     color: var(--main-color);
     font-weight: 600;
     font-family: cursive;
     cursor: default;
}

.navbar a {
     font-size: 1.7rem;
     font-family: monospace;
     margin-left: 4rem;
     transition: .3s;

}

.link a {
     text-decoration: underline;
     color: var(--text-color);
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.btns {
     display: flex;
     justify-content: center;
}

.link a:hover,
.link a.active {
     color: var(--main-color);
}

.login-btn {
     background-color: var(--bg-color);
     color: var(--text-color);
}

.signin-btn {
     background-color: var(--main-color);
     color: var(--bg-color);
}

.login-btn,
.signin-btn {
     padding: 1.4rem 1rem;
     border: none;
     outline: none;
     border-radius: 1rem;
     font-size: 0.8rem;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: scale 0.2 ease;
}

.login-btn:hover {
     color: var(--second--bg-color);
}

.signin-btn:hover {
     color: var(--second--bg-color);
}

.login-btn:active,
.signin-btn:active {
     scale: 0.95;
}

#menu-icon {
     font-size: 3.5rem;
     color: var(--text-color);
     display: none;
}

.home {
     display: flex;
     align-items: center;
     justify-content: center;
}

.home-img img {
     width: 50vw;
     animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
     0% {
          transform: translateY(0);
     }

     50% {
          transform: translateY(-3rem);
     }

     100% {
          transform: translateY(0);
     }
}

/* .home-content h3:nth-of-type(2) {
     margin-bottom: 2rem;
} */

.home-content {
     /* max-width: 45vw; */
}

span {
     color: var(--main-color);
     font-weight: 600;
}

.home-content h3 {
     color: var(--heading-color);
     font-size: 4.7rem;
     font-weight: 700;
     font-family: monospace;
     line-height: 1.3;
}

.home-content p {
     font-size: 1.6rem;
     color: var(--text-color);
     font-family: monospace;
}

.btncontainer{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
}
.btn {
     margin-top: 1rem;
     display: inline-block;
     padding: 2rem 2.8rem;
     border-radius: 1rem;
     font-size: 1.6rem;
     letter-spacing: .1rem;
     font-weight: 600;
     transition: .2s ease;
     display: inline-flex;
     justify-content: center;
     font-family: monospace;
}

.bookbtn {
     background-color: var(--main-color);
     color: var(--second--bg-color);
}

.getappbtn {
     background-color: var(--second--bg-color);
     color: var(--main-color);
}

.btn:hover {
     box-shadow: 0 0 1rem var(--text-color);
}








@media (max-width: 1200px) {
     html {
         font-size: 50%;
     }
 }
 
 @media (max-width: 991px) {
     .header {
         padding: 2rem 3%;
     }
 
     section {
         padding: 5rem 3% 2rem;
     }
 
     .services {
         padding-bottom: 7rem;
     }
 
     .portfolio {
         padding-bottom: 7rem;
     }
 
     .contact {
         min-height: auto;
     }
 
     .footer {
         padding: 2rem 3%;
     }
 }
 
 @media (max-width: 768px) {
     #menu-icon {
         display: block;
     }
 
     .navbar {
         position: absolute;
         top: 100%;
         left: 0;
         width: 100%;
         padding: 1rem 3%;
         background: var(--bg-color);
         border-top: .1rem solid rgba(0, 0, 0, .2);
         box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
         display: none;
     }
 
     .navbar.active {
         display: block;
     }
 
     .navbar a {
         display: block;
         font-size: 2rem;
         margin: 3rem 0;
     }
 
     .home {
         flex-direction: column-reverse;
     }
     .btncontainer{
          margin-top: 3rem;
     }
     .home-content h3 {
         font-size: 2.6rem;
     }
 
     .home-img img {
         width: 70vw;
         margin-top: 4rem;
     }
 
     .about {
         flex-direction: column-reverse;
     }
 
     .about img {
         width: 70vw;
         margin-top: 4rem;
     }
 
     .services h2 {
         margin-bottom: 3rem;
     }
 
     .portfolio h2 {
         margin-bottom: 3rem;
     }
 
     .portfolio-container {
         grid-template-columns: repeat(2, 1fr);
     }
 }
 
 @media (max-width: 710px){
     .btncontainer{
          justify-content: space-between;
     }
 }

 @media (max-width:617px) {
     .portfolio-container {
         grid-template-columns: 1fr;
     }
 }
 
 @media (max-width:450px) {
     html {
         font-size: 45%;
     }
 
     .contact form .input-box input {
         width: 100%;
     }
 }
 
 @media (max-width:380px) {
     .home-img img {
         width: 85vw;
     }
     .btncontainer{
          margin-top: 1rem;
          justify-content: space-evenly;
     }
     .btncontainer a {
          font-size: 1.2rem;
     }
     .about-img img {
         width: 85vw;
     }
 
     .footer {
         flex-direction: column-reverse;
     }
 
     .footer p {
         text-align: center;
         margin-top: 2rem;
     }
 }